@tailwind base;

/* Write your own custom base styles here */

@layer base {
    @font-face {
      font-family: Roboto;
      font-weight: 400;
      src: url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet) format("woff");
    }}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
